<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart_page</title>
    <style type = "text/css">
      body {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    h1, h2 {
        font-family:SuisseWorks
    }
    #header {
            display: flex;
            background: white;
        }
        #udemy_logo  {
            width: 100px;
            border: 1px solid white ;
            height: 50px;
        }
        #search_box > input{
            flex-grow: 2;
            border: 0px solid black;
            width: 95%;
            height: 30px;
            margin-right:15px;
             /* border-radius: 30px; */
             outline:none;
        }
        .search-btn {
            width: 20px;
            height: 20px;
        }
        #search_box {
            flex-grow: 2;
            margin-bottom: 1%;
            display: flex;
            margin-top: 5px;
            border: 1px solid black;
            border-radius: 40px;
        }
        .header_text {
            font-size: .9rem;
            font-weight: 400;
            line-height: 1.4;
            margin-top: 20px;
        }
        
       #sign_up {
           background: black;
           border: 1px solid black;
           width: 90px;
           margin: 10px 3px;
           font-weight: bold;
           font-size: 0.8rem;
       }
       #log_in {
           background: white;
           border: 1px solid black;
           width: 90px;
           margin: 10px auto;
           font-weight: bold;
           font-size: 0.8rem;
       }
       #cart {
           background: white;
           border: 0px solid black;
       }
       #cart > img {
        width: 30px;
           height: 30px;
       }
       #globe {
        background: white;
           border: 1px solid black;
           margin: 10px 3px;
       }
       #globe >img {

        width: 20px;
           height: 20px;
       }
       * {
            margin: 5px;
        }

    .shoppingcart {
        height:150px;
        background-color: black;
        margin-top:0px;
       
    }
    h1 {
        color:white;
        font-size:48px;
        padding:50px 80px;
        
    }
    .cart_item {
        width:400px;
        margin:auto;
        font-size:18px;
        text-align: center;
        margin-top:50px;
    }
    .buttons {
        background-color: blueviolet;
        color:white;
       padding:5px;
        font-size:20px;
    }
    #coursenum {
        margin:30px 0px 30px 70px;
        font-size:24px;
    }
    #footer {
    background-color: black;
    margin:0px;
    width:100%;
    height:450px;
    border:1px solid black;
    margin-top:5%;


}
#footer {
   
    margin-top:300px;
}
.flex-bo {
    display: flex;
    flex-direction: row;
    gap:8%;
    
}
.flex-bo h2 {
    color:white;
    margin:6% 4%;
    font-size: 20px;
   
    width:100%;
    margin-right:10%
}
.flex-image {
    display:flex;
    flex-direction: row;
    margin: 1% 2%;
   
    width:40%;
}
.flex-image img {
    margin:3%;

}

.logo-img > img {
    width:6%;
    float:left;
    margin-left:3%;
    margin-bottom:3%;

}
.logo-img > div{
    float:right;
    color:white;
    margin-right:3%;
}
.footer-link {
    display: grid;
    margin:20px 20px 30px 30px;
    width:60%;
    grid-template-columns:28% 28% 28%;
    grid-template-rows: 10% 10% 10% 10% 10%;
    gap:5%;
    color:white;
    /* border: 3px solid white */

}
.footer-link >div:nth-child(12) {
    grid-row-start: 5;
}
.glob {
    float:right;
    background-color: black;
    /* border: 3px solid white */
}
.final-flex {
    /* border:3px solid white; */
    display: flex;
    flex-direction: row;
    
}
.final-flex > .glob  {
    height:15%;
    width:10%;
    margin-left:300px;
    float:right;
    background-color: black;
    
}
hr {
    border:0.05px solid grey
}
.cart_items {
    /* border: 2px solid black; */
    display:flex;
    flex-direction:column;
    width:45%;
    flex-grow:2;
}

.cart-div {
   
    height:60px;
   
    
    display: flex;
    flex-direction:row ;
    border: 1px ridge rgb(189, 189, 189);

    
}



#total_prie {
    color:black;
    padding-left:10px;
    padding:0px;
    font-size:36px;


}
#checkout_btn {
    background:purple;
    color:white;
    width:100%;
    height:50px;
    font-size:18px;
    border:none;
    margin:15px 0px;
}
#parent-cart {
    display:flex;
    margin-left:5%;
    /* border:1px solid black; */
    margin-top:3px;


}
#checkout {
    float:right;
    width:25%;
    margin:1% ;
    
    height:300px;
    color:black;;
    font-size:16px;
    /* border:1px solid blue; */

}
#coupon {
    border: 1px solid black;
    display:flex;
}
#inp-coupon {
    font-size:12px;
    border:none;
    outline: none;
    flex-grow:2;

}  
#coupon-btn {
    background-color: purple;
    font-size: 17px;
    color:white;
    height:30px;
    width:20%;
    margin:0px;
    border: none;

}  
#promotions {
    font-weight:800;
    margin-bottom: 15px;
}

    #applied {
        color: green;
    }
    #not_applied {
        color: red;
    }

    .div1-style {
        /* border:1px solid red; */
        width:11%;
        padding:0px;

    }
    .div1-style img {
        width:100%;
        height:100%;
        margin:0px;
    }

    .div2-style {
        flex-grow:2;
        /* border:1px solid blue; */
        padding:0px;
        width:45%;
        font-weight: 900;
    }
     .div2-style p {
        color:black;
        font-weight: 300 ;
       
       
    }

    .div3-style {
        /* border: 1px solid orangered; */
        width:14%;
    }
    .div4-style {
        /* border:1px solid green; */
        width:12%;
        color:purple;
        font-weight: 600;
        text-align: center;
        font-size: 18px;
        padding-top:12px;
    }
  .div3-style > button {
      color:purple;
      border:none;
      background-color: white;
      margin:1px 3px;
      font-weight: 500;
      text-align: right !important;

  }
  
#log_in > a {
        color:black;
        text-decoration: none;
    }
    #sign_up > a {
        color:white;
        text-decoration: none;
    }
    html,body {
        height:100%;
    }

    
    </style>
</head>
<body>
     
    <div id="header">
        <div id="udemy_logo">
            <a href="/" >
            <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" alt="Udemy" href="home_page.html"  />
            </a>
        </div>
        <div class="header_text" id="Categories_btn">
            Categories
        </div>
        <div id="search_box">
           <a href="/course1" >
               <img class="search-btn"  src="https://img.icons8.com/material-sharp/2x/search.png" />
           </a>
            <input  type="text" placeholder="Search for anything"  />
        </div>
        <div class="header_text">Udemy Business</div>
        <div class="header_text">Teach on Udemy</div>
        <a href="/cart"><button id="cart"><img src="https://cdn3.iconfinder.com/data/icons/shopping-cart-19/200/457-128.png" /></button></a>
        <button id="log_in" ><a href="/login" >Log In</a></button>
        <button id="sign_up"><a href="/signup">Sign Up </a></button>
        <button id="globe"><img src="https://cdn3.iconfinder.com/data/icons/media-1-3/32/Internet-Globe-Communication-128.png"/></button>
    </div>
    <div class="shoppingcart">
        <h1>Shopping Cart</h1>

    </div>
    <p id = "coursenum"></p>


    <div id="parent-cart">
        <div id="cart_items">
      
        </div>
        <div id="checkout">
            <div class= "total_name" >
                Total:  
            </div>
            <h1 id="total_prie">
            
            </h1>
            
                <a href="/checkout">
                    <button id="checkout_btn">
                
                    Checkout
                </button>
                </a>
           
            <div id="promotions">Promotions</div>
            <div id ="applied"></div>
            <div id="not_applied"></div>
            <div id="coupon">
              
                <input id = "inp-coupon" type="text" placeholder= "Enter Coupon">
                <button id = "coupon-btn">Apply</button>
            </div>
    
        </div>



    </div>
   
   
   

    <div id="footer">
        <div class = "flex-bo">
            <div><h2>Top companies choose Udemy Business to build in-demand career skills.</h2></div>
            <div class = "flex-image">
                <img src="https://s.udemycdn.com/partner-logos/v4/apple-dark.svg" alt="">
                <img src="https://s.udemycdn.com/partner-logos/v4/box-dark.svg" alt="">
                <img src="https://s.udemycdn.com/partner-logos/v4/volkswagen-dark.svg" alt="">
                <img src="https://s.udemycdn.com/partner-logos/v4/netflix-dark.svg" alt="">
                <img src="https://s.udemycdn.com/partner-logos/v4/eventbrite-dark.svg" alt="">
             </div>
            </div>
            <hr>
             <div class="final-flex">
                <div class="footer-link">
                    <div><p>Udemy Business</p></div>
                    <div><p>Careers</p></div>
                    <div><p>Terms</p></div>
                    <div><p>Teach on Udemy</p></div>
                    <div><p>Blog</p></div>
                    <div><p>Privacy policy</p></div>
                    <div><p>Get the App</p></div>
                    <div><p>Help and support</p></div>
                    <div><p>Sitemap</p></div>
                    <div><p>About us</p></div>
                    <div><p>Affiliate</p></div>
                    <div><p>Contact us</p></div>
                </div>
                <!-- <div class= "glob">
                    <button id="globe1"><img src="https://cdn0.iconfinder.com/data/icons/mobile-apps-settings-linear-white-with-black-backg/2048/439_-_Browser-256.png"/> 
                        <span>English</span>
    
                     </button>
                    <div class="clear"></div>
                </div> -->
            </div>
            
            <div class="logo-img">

                
                <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy-inverted.svg" alt="">
                <div> © 2021 Udemy, Inc</div>
                </div>
      



    </div>

</body>
</html>

<script>
    let cart_data = JSON.parse(localStorage.getItem("udemy_cart"))
    
// let cart_data = null
        var total = 0
        var count = 0
        var total_price = 0 ;
    if(cart_data == null){
       var div =  document.getElementById("cart_items")
       div.setAttribute("class", "cart_item")
       
       var img = document.createElement("img")
       img.src = "https://s.udemycdn.com/browse_components/flyout/empty-shopping-cart-v2.jpg"


       var para = document.createElement("p")
       para.textContent = "Your cart is empty. Keep shopping to find a course"

       var button = document.createElement("button")
       button.textContent = "Keep shopping"


       button.setAttribute("class", "buttons")
       var link = document.createElement("a")
       link.href = "/"
       link.append(button)
       

       div.append(img,para,link)
       var p_item = document.getElementById("coursenum")
       p_item.textContent = `${total} Courses in the cart`
    }
    else {
    
        cart_data.forEach(function(product){
            let parent =  document.getElementById("cart_items")
         parent.setAttribute("class", "cart_items")


          // below is row div 
            let row_div = document.createElement("div")

            row_div.setAttribute("class", "cart-div")


            let div1 = document.createElement("div")
            div1.setAttribute("class", "div1-style")

            let image = document.createElement("img")


            image.src = product.image

            let div2 = document.createElement("div")
            div2.setAttribute("class", "div2-style")

            let c_name = document.createElement("h3")

            c_name = product.name
           // c_name.setAttribute("style", "font-weight:500") not working full row box is hidden when i apply this property

            let brea = document.createElement("br")  

            let author = document.createElement("p")
            
            author.textContent = `By ${product.author}`
            //author.setAttribute("style", "font-weight:300")

            
            let bre = document.createElement("br")  


            let div3 = document.createElement("div")
            div3.setAttribute("class", "div3-style")


            let remov = document.createElement("button")
            remov.textContent = "Remove"
           // remove.setAttribute("id","save-later1")
            

            let later = document.createElement("button")
            later.textContent = "Save for later"
           // later.setAttribute("id","save-later2")
            
          

           
            let div4 = document.createElement("div")

            div4.setAttribute("class", "div4-style")

              let p_price = document.createElement("p")


            p_price = product.price
            
            div1.append(image)

            div2.append(c_name , author)

            div3.append(remov,later)


            div4.append(p_price)



            row_div.append(div1, div2,div3,div4)
           
            count++
            total = total + count

          // row div append to parent div
            parent.append(row_div)





            let str_price = ""
            for(var i = 0; i < product.price.length; i++){

                if(product.price[i] == "₹"){
                continue
             }  
             else {
                str_price = str_price + product.price[i]
             }

            }




            // var total_div = document.createElement("div")
            // total_div.setAttribute("class", "total-div")

          

            total_price = total_price + Number(str_price)
            console.log("total" + total_price)

               
                
           
            let final_price = document.getElementById("total_prie")
           // final_price.setAttribute("class", "total-div")
            final_price.textContent =   "₹"+total_price
             //.append(pura_total)
           
            // total_show.append(total_div)

            
           
           


            var p_item = document.getElementById("coursenum")
             p_item.textContent = `${count} Course in cart`


        })
       
       
         

            

        
       


    }


    function promo(){
        var inp = document.getElementById("inp-coupon").value;
        var pri = document.getElementById("total_prie")
        var coupon_para = document.createElement("p")
        var  sucess = document.getElementById("applied")
        var not_sucess = document.getElementById("not_applied")

        
        if(inp == "SPECIAL26" || inp == "special26"){
            pri.textContent =  "₹"+ total_price  * 0.74
            coupon_para.textContent =   inp + " promo code is applied" 

            sucess.append(coupon_para)
            
        }
        else {
    coupon_para.textContent = "Invalid promo code";
            not_sucess.append(coupon_para)
        }
    }


    var btnc = document.getElementById("coupon-btn")
    btnc.addEventListener("click", promo)

</script>