body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h1, h2 {
    font-family:SuisseWorks
}
 #header {
        display: flex;
        background: white;
    }
    #udemy_logo  {
        width: 100px;
        border: 1px solid white ;
        height: 50px;
    }
    #search_box > input{
        flex-grow: 2;
        border: 1px solid white;
        width: 95%;
        height: 30px;
        margin-right:15px;
        /* border-radius: 30px; */
        outline:none;
    }
    .search-btn {
        width: 20px;
        height: 20px;
    }
    #search_box {
        flex-grow: 2;
        margin-bottom: 1%;
        display: flex;
        margin-top: 5px;
        border: 1px solid black;
        border-radius: 40px;
    }
    .header_text {
        font-size: .9rem;
        font-weight: 400;
        line-height: 1.4;
        margin-top: 20px;
    }
    
   #sign_up {
       background: black;
       border: 1px solid black;
       width: 90px;
       margin: 10px 3px;
       font-weight: bold;
       font-size: 0.8rem;
   }
   #log_in {
       background: white;
       border: 1px solid black;
       width: 90px;
       margin: 10px auto;
       font-weight: bold;
       font-size: 0.8rem;
   }
   #cart {
       background: white;
       border: 0px solid black;
   }
   #cart > img {
    width: 30px;
       height: 30px;
   }
   #globe {
    background: white;
       border: 1px solid black;
       margin: 10px 3px;
   }
   #globe >img {

    width: 20px;
       height: 20px;
   }
   * {
        margin: 5px;
    }


    .color {
        color: white;
    }

    .color_1 {
        color: black;
    }


#home-top {
margin:5px 0px;
display:grid;
height:380px;
background-image: url(https://img-c.udemycdn.com/notices/web_banner/image_udlite/92a752b4-2f5b-45c7-a451-d84b32ccb0cf.jpg);

grid-template-columns: 25%;
background-repeat: no-repeat;


}

.leftbox {

margin-left:20%;
background-color: white;
width:400px;
margin-top:50px;
margin-bottom: 60px;
padding:15px;

}
.b-font {
font-size: 26px;

}
#b-font {
font-size: 44px;
}
.leftbox > p {
font-size: 20px;
}
.leftbox > input {
font-size: 24px;

}
.leftbox > input::placeholder {
font-size: 12px;
padding:10px;
}
.course-section > p {

font-size: 22px;
}

.course-flex {
display:flex;
flex-direction: row;
gap:15px;
margin-top:25px;


}
.course-flex > a {
font-size: 18px;
text-decoration: none;
color:rgb(44, 44, 44);
font-weight: 600;

}
a#a1:hover {
color:rgb(0, 0, 0);

}
a#a2:hover {
color:rgb(0, 0, 0);

}
a#a3:hover {
color:rgb(0, 0, 0);

}
a#a4:hover {
color:rgb(0, 0, 0);

}
a#a5:hover {
color:rgb(0, 0, 0);

}
a#a6:hover {
color:rgb(0, 0, 0);

}
a#a7:hover {
color:rgb(0, 0, 0);

}
.thpara {
background-color:#f5fffc;
display:flex;
flex-direction:row;
font-size: 18px;
color:rgb(44, 44, 44);
font-weight: 600;
width:100%;
margin-top:5%;



}
.thpara > div {
display: flex;
flex-direction: row;
width:28%;
height:2%;




}
.thpara > div:nth-child(2){
margin-left:8%;
margin-right:8%;
}
.thpara > div > img {
width:10%;
height:10%;


}
.marg {
 margin-top: 5%;
}
.instructor-box , .business-box , .transform{
display:flex;
flex-direction:row;
width:70%;
margin:auto;
margin-top:5%;



}
.instructor-box > .content , .transform > .content {
width:45%;

margin:10%;

}
.business-box > .content {

margin:10% 6%;
width:45%;
}
.business-box > .content > img {
width:70%;
}
.business-box > .img-box {

width:45%;


}

.content > p{
font-size: 22px;
}
.trusted {
background-color:f5fffc;
text-align: center;
margin-top:5%;

}
.flex-image {
display:flex;
flex-direction: row;
margin: 1% 30%;
}
.flex-image img {
margin:3%;

}
#footer {
background-color: black;
margin:0px;
width:100%;
height:300px;
border:1px solid black;
margin-top:5%;



}
.logo-img > img {
width:6%;
float:left;
margin-left:3%;
margin-bottom:3%;

}
.logo-img > div{
float:right;
color:white;
margin-right:3%;
}
.footer-link {
display: grid;
margin:20px 20px 30px 30px;
width:60%;
grid-template-columns:28% 28% 28%;
grid-template-rows: 10% 10% 10% 10% 10%;
gap:5%;
color:white;
/* border: 3px solid white */

}
.footer-link >div:nth-child(12) {
grid-row-start: 5;
}
.glob {
float:right;
background-color: black;
/* border: 3px solid white */
}
.final-flex {
/* border:3px solid white; */
display: flex;
flex-direction: row;

}
.final-flex > .glob  {
height:15%;
width:10%;
margin-left:300px;
float:right;
background-color: black;

}

#globe1 {
    background:black;
    color:white;
       /* border: 3px solid red; */
       margin: 5px 3px;
   }
   #globe1 >img {
       padding:5px;
       

    width: 20px;
       height: 20px;
   } 
   #globe1 > span {
       padding:0px;
       margin:0px;
       margin-bottom:10px;
       font-size:16px;
       border:1px solid white
    
   }
   .img-small {
       width:5%;
   }
/* 
#globe {
    background:white;
       border: 1px solid white;
       margin: 10px 3px;
   }
   #globe >img {

    width: 20px;
       height: 20px;
   } */
/* 
.clear {
clear:both;

} */

 .course1 a{
    text-decoration:none;
}

.course1 h3{
    color:black
}
.course-video-box {
    width:98%;
    height:600px;
    border:1px solid grey;
    margin-top:5%;
    

}
.course-video-box > h1 {
    padding:25px 25px;
}
.para {
    width:60%;
    line-height:22px;
    margin:10px 25px;
    font-size:18px;

}
.video-box {
    display:grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    gap:2%;
    /* border:1px solid green; */
    margin-top:4%;
    
}
 #instructor {
     font-size: 14px;
     color:grey;
    
}
.star {
    font-size: 16px;
    color:#E65100;
    font-weight: 600;
}
.enrol-no {
    font-size:14px;
    color:grey;
}
.price-course {
    font-weight: 600;
    font-size: 20px;
    color:black;
}
#search2 {
    border: 1px solid black;
    display:flex;

}
#search-box {
    flex-grow:2;
    outline:none;
    border:none;
}

section {
    min-height:100vh;
}
#log_in > a {
    color:black;
    text-decoration: none;
}
#sign_up > a {
    color:white;
    text-decoration: none;
}
html,body {
    height:100%;
    
}
