<!DOCTYPE html>
 <html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name='viewport' content='width=divice-width,initial-scal=1.0'>
<title>Signup_page</title>
<style>
    body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h1, h2 {
    font-family:SuisseWorks
}
#header {
        display: flex;
        background: white;
    }
    #udemy_logo  {
        width: 100px;
        border: 1px solid white ;
        height: 50px;
    }
    #search_box > input{
        flex-grow: 2;
        border: 0px solid black;
        width: 95%;
        height: 30px;
        margin-right:15px;
        /* border-radius: 30px; */
        outline:none;
    }
    .search-btn {
        width: 20px;
        height: 20px;
    }
    #search_box {
        flex-grow: 2;
        margin-bottom: 1%;
        display: flex;
        margin-top: 5px;
        border: 1px solid black;
        border-radius: 40px;
    }
    .header_text {
        font-size: .9rem;
        font-weight: 400;
        line-height: 1.4;
        margin-top: 20px;
    }
    
   #sign_up {
       background: black;
       border: 1px solid black;
       width: 90px;
       margin: 10px 3px;
       font-weight: bold;
       font-size: 0.8rem;
   }
   #log_in {
       background: white;
       border: 1px solid black;
       width: 90px;
       margin: 10px auto;
       font-weight: bold;
       font-size: 0.8rem;
   }
   #cart {
       background: white;
       border: 0px solid black;
   }
   #cart > img {
    width: 30px;
       height: 30px;
   }
   #globe {
    background: white;
       border: 1px solid black;
       margin: 10px 3px;
   }
   #globe >img {

    width: 20px;
       height: 20px;
   }
   * {
        margin: 5px;
    }

.color{
color: white;
}
#sign_up_page{
display: grid;
align-items: center;
gap: 2%;
margin-left: 35%;
margin-right: 35%;

}
#top{
display: grid;
grid-template-rows: 10% 70%;
gap: 15%;
}
.already{
/* align-items: center; */
display: flex;
}
.name{
padding: 3%;
font-size: 20px;
}
.sign{
padding: 3%;
background-color: purple;
color: white;
font-weight: 700;
font-size: 20px;
}
.color_1{
color: black;
}
#footer {
background-color: black;
margin:0px;
width:100%;
height:450px;
border:1px solid black;
margin-top:5%;


}
#footer {

margin-top:300px;
}
.flex-bo {
display: flex;
flex-direction: row;
gap:8%;

}
.flex-bo h2 {
color:white;
margin:6% 4%;
font-size: 20px;

width:100%;
margin-right:10%
}
.flex-image {
display:flex;
flex-direction: row;
margin: 1% 2%;

width:40%;
}
.flex-image img {
margin:3%;

}

.logo-img > img {
width:6%;
float:left;
margin-left:3%;
margin-bottom:3%;

}
.logo-img > div{
float:right;
color:white;
margin-right:3%;
}
.footer-link {
display: grid;
margin:20px 20px 30px 30px;
width:60%;
grid-template-columns:28% 28% 28%;
grid-template-rows: 10% 10% 10% 10% 10%;
gap:5%;
color:white;
/* border: 3px solid white */

}
.footer-link >div:nth-child(12) {
grid-row-start: 5;
}

#log_in > a {
    color:black;
    text-decoration: none;
}
#sign_up > a {
    color:white;
    text-decoration: none;
}
html,body {
    height:100%;
}
</style>

</head>
<body>
     
    <div id="header">
        <div id="udemy_logo">
            <a href="/" >
            <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" alt="Udemy" href="home_page.html"  />
            </a>
        </div>
        <div class="header_text" id="Categories_btn">
            Categories
        </div>
        <div id="search_box">
           <a href="/course1" >
               <img class="search-btn"  src="https://img.icons8.com/material-sharp/2x/search.png" />
           </a>
            <input  type="text" placeholder="Search for anything"  />
        </div>
        <div class="header_text">Udemy Business</div>
        <div class="header_text">Teach on Udemy</div>
        <a href="/cart"><button id="cart"><img src="https://cdn3.iconfinder.com/data/icons/shopping-cart-19/200/457-128.png" /></button></a>
        <button id="log_in" ><a href="/login" >Log In</a></button>
        <button id="sign_up"><a href="/signup">Sign Up </a></button>
        <button id="globe"><img src="https://cdn3.iconfinder.com/data/icons/media-1-3/32/Internet-Globe-Communication-128.png"/></button>
    </div>
    <div id="sign_up_page">
        <h2>Sign Up and Start Learning! </h2>
        <div></div>
       
       
            <input id = "name" class="name" type="text" placeholder="Full Name">
            
            <input id = "email" class="name" type="email" placeholder="Email">
        
            <input id = "pass" class="name" type="password" placeholder="Password">
        
            <h4>I'm in for emails with exciting discounts and 
                personalized recommendations</h4>
                <br>
                <p class="alert">Please fill all details</p>
            <button id = "sign-btn" onclick = "addSignup()"  class="sign">Sign Up</button>
        
       
        <p>By sign up, you agree to our Ters of Use and Privacy Policy.</p>
        <div></div>
        <div class="already">
        <h3>Already have an account?</h3>
        <h3><a class="color_1" href="/login">Log In</a></h3> 
        
       </div>   
    </div>
    </div>

    <div id="footer">
        <div class = "flex-bo">
            <div><h2>Top companies choose Udemy Business to build in-demand career skills.</h2></div>
            <div class = "flex-image">
                <img src="https://s.udemycdn.com/partner-logos/v4/apple-dark.svg" alt="">
                <img src="https://s.udemycdn.com/partner-logos/v4/box-dark.svg" alt="">
                <img src="https://s.udemycdn.com/partner-logos/v4/volkswagen-dark.svg" alt="">
                <img src="https://s.udemycdn.com/partner-logos/v4/netflix-dark.svg" alt="">
                <img src="https://s.udemycdn.com/partner-logos/v4/eventbrite-dark.svg" alt="">
             </div>
            </div>
            <hr>
             <div class="final-flex">
                <div class="footer-link">
                    <div><p>Udemy Business</p></div>
                    <div><p>Careers</p></div>
                    <div><p>Terms</p></div>
                    <div><p>Teach on Udemy</p></div>
                    <div><p>Blog</p></div>
                    <div><p>Privacy policy</p></div>
                    <div><p>Get the App</p></div>
                    <div><p>Help and support</p></div>
                    <div><p>Sitemap</p></div>
                    <div><p>About us</p></div>
                    <div><p>Affiliate</p></div>
                    <div><p>Contact us</p></div>
                </div>
                <!-- <div class= "glob">
                    <button id="globe1"><img src="https://cdn0.iconfinder.com/data/icons/mobile-apps-settings-linear-white-with-black-backg/2048/439_-_Browser-256.png"/> 
                        <span>English</span>
    
                     </button>
                    <div class="clear"></div>
                </div> -->
            </div>
            
            <div class="logo-img">

                
                <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy-inverted.svg" alt="">
                <div> © 2021 Udemy, Inc</div>
                </div>
      



    </div>
</body>
</html>
  

  
  

    //console.log(logindata)
    <script>
        let signup = document.getElementById('signup');
        const alertEl = document.querySelector(".alert");
        const addSignup = () => {



            let userobject = {}
            const username = document.getElementById("name").value
            const emailInputElement = document.getElementById("email").value
            const passwordInputElement = document.getElementById("pass").value;
            if (emailInputElement === "" && passwordInputElement === "" && confirmPasswordElement.value === "") {
                alertEl.textContent = "Please fill all the details!";
                alertEl.style.visibility = "unset";
                return;
            }
           
            fetch("/api/signup", {
                method: "post",
                body: JSON.stringify({
                    "email": emailInputElement,
                    "password": passwordInputElement
                }),
                headers: {
                    'Content-Type': 'application/json'
                },
            })
                .then(res => res.json())
                .then(res => {
                    if (res.error) {
                        if (res.message === "Invaild email address") {
                            alertEl.textContent = "Invaild email address";
                            alertEl.style.visibility = "unset";
                        } else {
                            alertEl.textContent = "User already exists";
                            alertEl.style.visibility = "unset";
                        }
                    } else {
                        window.location.href = "/login"
                        userobject.name = username
                        var json_user = JSON.stringify(userobject)
                        localStorage.setItem("user_details", json_user)

                       
                    }
                })
        }


       
  

     







    


        var sign_btn = document.getElementById("sign-btn")

        function changeBackground(){
            sign_btn.style.background = "#7B1FA2"
        }
        sign_btn.addEventListener("mouseover",changeBackground)
        
        function changeBackground1(){
            sign_btn.style.background = "purple"
        }
        sign_btn.addEventListener("mouseout",changeBackground1)

    


</script>
 
 